<div class="flex flex-col flex-auto min-w-0 bg-card dark:bg-transparent">
    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent"
    >
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <div class="mt-2">
                <h2
                    class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate"
                >
                    แก้ไขบทสวดมนต์
                </h2>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-3 sm:p-10">
        <form
            class="flex flex-col p-8 pb-4 bg-card shadow overflow-hidden ng-valid"
            [formGroup]="formData"
        >
            <div class="flex flex-col sm:flex-row p-8">
                <div class="flex flex-auto flex-wrap">
                    <div class="flex flex-col w-full lg:w-3/4">
                        <!-- Name, SKU & etc. -->
                        <div class="flex flex-col w-full lg:w-4/4 sm:pl-8">
                            <!--firstname and lastname-->
                            <div class="flex">
                                <mat-form-field class="w-full">
                                    <mat-label>ชื่อบทสวดมนต์ </mat-label>
                                    <input
                                        matInput
                                        [formControlName]="'title'"
                                    />
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="flex flex-col w-full lg:w-4/4 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold"
                                    >รายละเอียดย่อย</mat-label
                                >
                                <textarea
                                    matInput
                                    rows="7"
                                    [formControlName]="'shot_detail'"
                                    placeholder="รายละเอียดย่อย"
                                ></textarea>
                            </mat-form-field>
                        </div>

                        <div class="flex flex-col w-full lg:w-4/4 mt-3 sm:pl-8">
                            <div class="editor">
                                <mat-label class="font-bold"
                                    >รายละเอียด</mat-label
                                >

                                <ngx-editor-menu
                                    [editor]="editor"
                                    [toolbar]="toolbar"
                                >
                                </ngx-editor-menu>
                                <ngx-editor
                                    [editor]="editor"
                                    formControlName="detail"
                                >
                                </ngx-editor>
                            </div>
                        </div>

                        <div class="flex flex-col w-full lg:w-4/4 mt-3 sm:pl-8">
                            <div class="border-t border-gray-200">
                                <dd
                                    class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"
                                >
                                    <div class="flex flex-wrap justify-start">
                                        <ngx-dropzone
                                            style="
                                                width: 100%;
                                                height: 120px;
                                                justify-content: center;
                                            "
                                            (change)="onSelect($event)"
                                        >
                                            <ngx-dropzone-label
                                                >รูปปก</ngx-dropzone-label
                                            >
                                            <ngx-dropzone-image-preview
                                                *ngFor="let f of files"
                                                [removable]="true"
                                                [file]="f"
                                                (removed)="onRemove(f)"
                                            >
                                            </ngx-dropzone-image-preview>
                                        </ngx-dropzone>
                                    </div>
                                </dd>
                            </div>
                        </div>

                        <!-- <div class="flex flex-col w-full lg:w-4/4 mt-3 sm:pl-8">
                            <div class="flex">
                                <mat-form-field class="w-full">
                                    <mat-label class="font-bold">คีย์เวิด ตัวอย่าง=> (ขนส่งสินค้า,เรือ,บริการขนส่ง) คีย์เวิดเหล่านี้จะถูกนำมาคำนวนคะแนนในบทความ
                                    </mat-label>
                                    <input matInput [formControlName]="'tags'" placeholder="ขนส่งสินค้า,เรือ,บริการขนส่ง">
                                </mat-form-field>
                            </div>
                        </div> -->
                    </div>
                    <!-- <div class="flex flex-col w-full lg:w-1/4">

                        <div class="flex flex-col items-center mt-2">
                            <div class="text-lg font-medium tracking-tight leading-6 items-center truncate">คะแนน SEO
                            </div>

                            <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none">
                                <b class="text-blue-500">{{keyData2}}</b>
                                <b> / </b>
                                <b class="text-red-500">10</b>
                            </div>
                            <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                                <div class="text-md font-medium truncate">คีย์เวิดทั้งหมด:</div>
                                <div class="ml-1.5 text-lg font-semibold">{{keyData.length}}</div>
                            </div>
                        </div>
                        <div class="flex flex-col items-center mt-2">


                            <ng-container *ngFor="let item of keyData; let i = index">
                                <div class="w-full flex-col border-b mb-2">
                                    <div class="flex items-center">

                                        <div class="flex-auto ml-4 leading-none">
                                            <div class="text-sm font-medium text-secondary">คีย์เวิด</div>
                                            <div class="mt-2 font-medium text-1xl">{{item.keyword}}</div>

                                        </div>
                                        <div class="justify-end ml-4 leading-none">
                                            <div class="text-sm font-medium text-secondary">จำนวน</div>
                                            <div class="mt-2 font-medium text-1xl">{{item.count}}</div>

                                        </div>
                                        <div class="justify-end ml-4 leading-none">
                                            <div class="text-sm font-medium text-secondary">หนาแน่น</div>
                                            <div class="mt-2 font-medium text-1xl">{{item.density}}</div>

                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>

                    <div class="flex flex-col w-full lg:w-4/4">
                        <b>
                            -​คีย์หลักควรมีใน title ตรงหน้าหรือกลางประโยค
                            -มีใน description​ ตรงหน้าหรือกลางประโยค
                            -ในบทความควรมีคีย์เวิร์ดในหัวข้อรอง และ ทำตัวเอียงหรือตัวหนา
                        </b>
                    </div> -->
                </div>
            </div>
        </form>
        <div class="flex items-center justify-end w-full border-t px-8 py-4">
            <div class="flex items-center justify-end">
                <a class="ml-4" mat-flat-button (click)="goBack()">
                    <mat-icon svgIcon="heroicons_solid:x"></mat-icon>
                    ยกเลิก
                </a>
                <button
                    class="px-6 ml-3 mat-primary"
                    mat-flat-button
                    (click)="update()"
                >
                    <mat-icon svgIcon="heroicons_solid:check"></mat-icon>
                    ยืนยัน
                </button>
            </div>
        </div>
        <pre></pre>
    </div>
</div>
