<div class="flex flex-col flex-auto min-w-0 bg-card dark:bg-transparent">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    รายละเอียดการทำธุรกรรม
                </h2>
            </div>

        </div>
    </div>

    <!-- Main -->
    <form class="flex flex-col mt-3 p-8 pb-4 bg-card shadow overflow-hidden ng-valid" [formGroup]="formData">
        <div class="flex-auto p-3 sm:p-10">
            <!-- This example requires Tailwind CSS v2.0+ -->
            <div class="overflow-hidden bg-white shadow sm:rounded-lg">
                <div class="flex">
                    <div class="w-full">
                        <div class="px-4 py-5 sm:px-6">
                            <h3 class="text-lg font-extrabold leading-6 text-gray-900">วัดมงคลโคธาวาส</h3>
                            <p class="mt-1 max-w-2xl text-sm text-gray-500">รายละเอียดการทำธุรกรรม</p>
                        </div>
                    </div>
                    <div class="w-full">
                        <div class="px-4 py-5 sm:px-6">
                            <h3 class="text-lg font-extrabold leading-6 text-gray-900">รายละเอียด</h3>
                            <p class="mt-1 max-w-2xl text-sm text-gray-500">รูปสลิปการทำธุรกรรม</p>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="w-full">
                        <div class="border-t border-gray-200">
                            <dl>
                                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                    <dt class="text-sm font-extrabold text-black-500">บัญชีธนาคาร</dt>
                                    <dd class="mt-1 text-sm text-black-900 sm:col-span-2 sm:mt-0">
                                        <mat-form-field class="w-full">
                                            <mat-select [formControlName]="'bank_id'">
                                                <mat-option [value]="''">
                                                    <span>เลือกบัญชีธนาคาร</span>
                                                </mat-option>
                                                <mat-option *ngFor="let account of bankData" [value]="account.id" disabled>
                                                    {{account.bank_of}} เลขที่บัญชี : {{account.number}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </dd>
                                </div>
                                <div class="bg-white-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                    <dt class="text-sm font-extrabold text-gray-500">จำนวนเงิน</dt>
                                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                                        <mat-form-field class="w-full">
                                            <input matInput [formControlName]="'price'" placeholder="กรุณากรอกจำนวนเงิน" readonly>
                                        </mat-form-field>
                                    </dd>
                                </div>
                                <!-- <div class="bg-white-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                    <dt class="text-sm font-extrabold text-gray-500">วันเวลาที่ทำธุรกรรม</dt>
                                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                                        <mat-form-field class="w-full">
                                            <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date"
                                                [min]="minDate" [max]="maxDate" [disabled]="disabled"
                                                [formControlName]="'date_time'">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners"
                                                [showSeconds]="showSeconds" [stepHour]="stepHour"
                                                [stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi"
                                                [color]="color" [enableMeridian]="enableMeridian">
                                            </ngx-mat-datetime-picker>
                                        </mat-form-field>
                                </div> -->
                                <!-- <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 " hidden>
                                    <dt class="text-sm font-extrabold text-gray-500">ประเภทการทำธุรกรรม</dt>
                                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                                        <mat-form-field class="w-full">
                                            <input matInput [formControlName]="'type'" [value]="'deposit'" hidden
                                                placeholder="กรุณากรอกจำนวนเงิน">
                                        </mat-form-field>
                                    </dd>
                                </div> -->
                                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                    <dt class="text-sm font-extrabold text-gray-500">รายละเอียด</dt>
                                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                                        <mat-form-field class="w-full">
                                            <textarea matInput rows="4" [formControlName]="'remark'" placeholder="กรุณาระบุรายละเอียด" readonly></textarea>
                                        </mat-form-field>
                                    </dd>
                                </div>
                            </dl>
                        </div>
                    </div>
                    <div class="w-full">
                        <div class="border-t border-gray-200">
                            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-2 sm:gap-4 sm:px-6">
                                <img class="img" *ngFor="let url of url_sig" [src]="url.image" class="h-auto w-80 transition-shadow ease-in-out duration-300 shadow-none hover:shadow-xl">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex items-center justify-end w-full border-t px-8 py-4">
                <!-- <div class="flex items-center justify-end">
                    <a class="ml-4" mat-flat-button href="bank/list">

                        ยกเลิก
                    </a>
                    <button class="px-6 ml-3 mat-primary" mat-flat-button (click)="Approved('reject')">
                        <mat-icon svgIcon="heroicons_solid:x"></mat-icon>
                        ไม่อนุมัติ
                    </button>
                    <button class="px-6 ml-3 mat-primary" mat-flat-button (click)="Approved('approve')">
                        <mat-icon svgIcon="heroicons_solid:check"></mat-icon>
                        อนุมัติ
                    </button>
                </div> -->
                <div class="flex items-center justify-end">
                    <a class="ml-4" mat-flat-button href="bank/list">
                        ปิด
                    </a>
                    <!-- <button class="px-6 ml-3 mat-primary" mat-flat-button (click)="update('Reject')">
                        <mat-icon svgIcon="heroicons_solid:x"></mat-icon>
                        ไม่อนุมัติ
                    </button>
                    <button class="px-6 ml-3 mat-primary" mat-flat-button (click)="update('Approve')">
                        <mat-icon svgIcon="heroicons_solid:check"></mat-icon>
                        อนุมัติ
                    </button> -->
                </div>
            </div>
        </div>
    </form>
</div>
<!-- <div> 
    check : {{ this.formData.value | json}}
</div> -->