<div class="flex flex-col flex-auto min-w-0 bg-card dark:bg-transparent">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    ช่องทางการติดต่อ
                </h2>
            </div>

        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-3 sm:p-10">
        <form class="flex flex-col mt-3 pb-4 bg-card shadow overflow-hidden ng-valid" [formGroup]="formData">
            <div class="flex flex-col sm:flex-row p-8">


                <div class="flex flex-auto flex-wrap">
                    <div class="flex flex-col w-full lg:w-4/4 p-5">
                        <fuse-alert [appearance]="'outline'" [type]="'info'">
                            เพิ่มข้อมูลสถานที่ในโปรไฟล์ของคุณ โดยสถานที่นั้นอาจเป็นพื้นที่ที่คุณให้บริการ ออฟฟิศส่วนตัวของคุณ หรือสถานที่สาธารณะก็ได้ ข้อมูลเกี่ยวกับสถานที่ทั้งหมดจะถูกเปิดเผยต่อผู้เข้าชมเว็บไซต์ในโปรไฟล์ของคุณ
                        </fuse-alert>
                    </div>

                    <div class="flex flex-col w-full lg:w-2/4 p-5">
                        <!--firstname and lastname-->
                        <div class="flex">
                            <mat-form-field class="w-full">
                                <mat-label>เบอร์โทร 1
                                </mat-label>
                                <input matInput [formControlName]="'phone_1'">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="flex flex-col w-full lg:w-2/4 p-5">
                        <!--firstname and lastname-->
                        <div class="flex">
                            <mat-form-field class="w-full">
                                <mat-label>เบอร์โทร 2
                                </mat-label>
                                <input matInput [formControlName]="'phone_2'">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="flex flex-col w-full lg:w-2/4 p-5">
                        <!--firstname and lastname-->
                        <div class="flex">
                            <mat-form-field class="w-full">
                                <mat-label>อีเมล 1
                                </mat-label>
                                <input matInput [formControlName]="'email_1'">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="flex flex-col w-full lg:w-2/4 p-5">
                        <!--firstname and lastname-->
                        <div class="flex">
                            <mat-form-field class="w-full">
                                <mat-label>อีเมล 2
                                </mat-label>
                                <input matInput [formControlName]="'email_2'">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="flex flex-col w-full lg:w-1/4 p-5">
                        <!--firstname and lastname-->
                        <div class="flex">
                            <mat-form-field class="w-full">
                                <mat-label>Facebook
                                </mat-label>
                                <input matInput [formControlName]="'facebook'">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="flex flex-col w-full lg:w-1/4 p-5">
                        <!--firstname and lastname-->
                        <div class="flex">
                            <mat-form-field class="w-full">
                                <mat-label>IG
                                </mat-label>
                                <input matInput [formControlName]="'ig'">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="flex flex-col w-full lg:w-1/4 p-5">
                        <!--firstname and lastname-->
                        <div class="flex">
                            <mat-form-field class="w-full">
                                <mat-label>Youtube
                                </mat-label>
                                <input matInput [formControlName]="'youtube'">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="flex flex-col w-full lg:w-1/4 p-5">
                        <!--firstname and lastname-->
                        <div class="flex">
                            <mat-form-field class="w-full">
                                <mat-label>Line
                                </mat-label>
                                <input matInput [formControlName]="'line'">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="flex flex-col w-full lg:w-4/4 p-5">
                        <!--firstname and lastname-->
                        <div class="flex">
                            <mat-form-field class="w-full">
                                <mat-label>
                                    ที่อยู่บริษัท
                                </mat-label>
                                <input matInput [formControlName]="'address'">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="flex flex-col w-full lg:w-4/4 p-5">
                        <!--firstname and lastname-->
                        <div class="flex">
                            <mat-form-field class="w-full">
                                <mat-label>
                                    แผนที่ Google Map
                                </mat-label>
                                <input matInput [formControlName]="'map'">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="flex flex-col w-full lg:w-4/4 p-5">
                        <mat-form-field class="w-full">
                            <mat-label class="font-bold">Script</mat-label>
                            <textarea matInput rows="6" [formControlName]="'script'" placeholder="กรุณาระบุรายละเอียด"></textarea>
                        </mat-form-field>
                    </div>

                </div>
            </div>
            <!-- button -->
            <div class="flex items-center justify-end w-full border-t px-8 py-4">
                <div class="flex items-center justify-end">
                    <button class="px-6 ml-3 mat-primary" mat-flat-button (click)="update()">
                        <mat-icon svgIcon="heroicons_solid:check"></mat-icon>
                        บันทึก
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>