<div class="flex flex-col flex-auto min-w-0 bg-card dark:bg-transparent">
    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent"
    >
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <div class="mt-2">
                <h2
                    class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate"
                >
                    ทดสอบ
                </h2>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-3 sm:p-10">
        <div class="flex flex-col sm:flex-row p-8 w-full justify-between">
            <section class="bg-white dark:bg-gray-900 w-full">
                <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
                    <form action="#" class="space-y-8" [formGroup]="formData">
                        <div class="justify-center">
                            <label
                                for="picture"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                                >รูปภาพ</label
                            >
                            <ngx-dropzone
                                style="
                                    width: auto;
                                    height: 300px;
                                    justify-content: center;
                                "
                                (change)="onSelect($event)"
                            >
                                <ngx-dropzone-label
                                    >เลือกภาพ</ngx-dropzone-label
                                >
                                <ngx-dropzone-image-preview
                                    *ngFor="let f of files"
                                    [removable]="true"
                                    [file]="f"
                                    (removed)="onRemove(f)"
                                >
                                </ngx-dropzone-image-preview>
                            </ngx-dropzone>
                        </div>
                        <div>
                            <mat-form-field class="w-full">
                                <mat-label
                                    for="name"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                                    >ชื่อห้องเก็บ</mat-label
                                >
                                <input matInput [formControlName]="'name'" />
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="w-full">
                                <mat-label
                                    for="name"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                                    >ชื่อตู้</mat-label
                                >
                                <input
                                    matInput
                                    [formControlName]="'cupboard'"
                                />
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="w-full">
                                <mat-label
                                    for="name"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                                    >ชื่อชั้น</mat-label
                                >
                                <input matInput [formControlName]="'floor'" />
                            </mat-form-field>
                        </div>
                        <div class="sm:col-span-2">
                            <mat-form-field class="w-full pr-2">
                                <mat-label>รายละเอียด</mat-label>
                                <textarea
                                    matInput
                                    rows="4"
                                    [formControlName]="'remark'"
                                    placeholder="กรุณาระบุรายละเอียด"
                                ></textarea>
                            </mat-form-field>
                        </div>
                    </form>
                </div>
            </section>
        </div>
        <div class="flex items-center justify-end w-full border-t px-8 py-4">
            <div class="flex items-center justify-end">
                <a class="ml-4" mat-flat-button (click)="goBack()">
                    <mat-icon svgIcon="heroicons_solid:x"></mat-icon>
                    ย้อนกลับ
                </a>
                <button
                    class="px-6 ml-3 mat-primary"
                    mat-flat-button
                    (click)="create()"
                >
                    <mat-icon svgIcon="heroicons_solid:check"></mat-icon>
                    ยืนยัน
                </button>
            </div>
        </div>
    </div>
</div>
