<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->


    <!-- search -->
    <!-- <div class="search-box relative flex flex-col flex-0 px-6 md:px-8 border-b mt-4">

    </div> -->

    <!-- Main -->

    <div class="flex flex ">
        <div class="w-1/4 py-2 ">
            <h1></h1>
            <canvas #doughnutCanvas style="height:10vh; width:20vw"></canvas>
            <hr color="red">
        </div>
        <div class="w-full">
            <h1></h1>
            <canvas #lineCanvas style="height:14vh; width:20vw"></canvas>
            <hr color="red">
        </div>
    </div>
    <div class="flex flex">
        <div class="w-full">
            <h1></h1>
            <canvas #barCanvas style="height:10vh; width:20vw"></canvas>
            <hr color="red">
        </div>
    </div>
</div>